body {
    font-family: sans-serif;
    background: linear-gradient(45deg, #a78bfa, #fbcfe8); /* Başlangıç gradyanı */
    background-size: 200% 200%; /* Animasyon için alanı genişletiyoruz */
    animation: gradientAnimation 10s ease infinite; /* Animasyonu tanımlıyoruz */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.puzzle {
    margin-bottom: 20px;
}

#negative-thought {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 15px;
    padding: 15px;
    background-color: #eee;
    border-radius: 5px;
}

.options {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* İki eşit sütun */
    gap: 10px; /* Butonlar arasında 10px boşluk */
    margin-bottom: 15px;
}

.option-button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.option-button:hover {
    background-color: #0056b3;
}

.option-button.correct {
    background-color: #28a745;
}

.option-button.incorrect {
    background-color: #dc3545;
}

#feedback-area {
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    font-weight: bold;
    text-align: left;
}

.feedback.correct-feedback {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.feedback.incorrect-feedback {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.animation {
    margin-top: 20px;
    font-size: 2em; /* Animasyonlar için yer */
}

.sweet-feedback {
    background-color: #fce4ec; /* Açık pembe (yanlış cevap) */
    border: 2px solid #f48fb1; /* Pembe (yanlış cevap) */
    border-radius: 10px;
    padding: 15px;
    margin-top: 10px;
    text-align: left;
    position: relative; /* Animasyon için */
    animation: slideIn 0.5s ease-out;
}

.sweet-feedback span { /* Kalp ikonu (yanlış cevap) */
    font-size: 2em;
    position: absolute;
    top: -15px;
    left: -15px;
}

.sweet-feedback.positive-feedback {
    background-color: #e0f7fa; /* Açık mavi (doğru cevap) */
    border: 2px solid #81d4fa; /* Mavi (doğru cevap) */
}

.sweet-feedback.positive-feedback span { /* Ayı ikonu (doğru cevap) */
    /* Stiller JavaScript'te veriliyor */
}

@keyframes slideIn {
    from { transform: translateY(-20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }