body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url("assets/arka_plan.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #333;
}

#karakterAlani {
    position: absolute; /* Mutlak konumlandırma */
    top: 20px;
    left: 20px;
    width: 150px;
}

#karakterSecilen {
    width: 150px;
    height: auto;
    animation: karakterHareket 3s infinite alternate ease-in-out; /* Karakter animasyonu */
}

@keyframes karakterHareket {
    0% {
        transform: translateY(0px) scale(1);
    }
    50% {
        transform: translateY(-10px) scale(1.05);
    }
    100% {
        transform: translateY(0px) scale(1);
    }
}

#hafizaOyunAlani {
    display: grid;
    grid-template-columns: repeat(5, 120px);
    gap: 10px;
    justify-content: center;
    margin: 20px auto;
    width: 620px;
}

.kart {
    width: 120px;
    height: 120px;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    transition: transform 0.3s;
}

.kart:hover {
    transform: scale(1.1);
}

.acik {
    background-color: #007bff;
    color: white;
}

#altinlar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#altinlar img {
    width: 30px;
    margin: 5px;
}