body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    overflow: hidden;
}

#okulResmi {
    transition: transform 2s ease-in-out;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    cursor: pointer;
}

#okulResmi.yakinlas {
    transform: scale(1.2);
}

.karakter-secim {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.karakter {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    animation: hareket 3s infinite alternate ease-in-out;
}

@keyframes hareket {
    0% {
        transform: translateY(0px) scale(1);
    }
    50% {
        transform: translateY(-10px) scale(1.05);
    }
    100% {
        transform: translateY(0px) scale(1);
    }
}

.karakter:hover {
    transform: scale(1.2);
}
